Consider following datasets and do PCA on each datasets.

Datasets: universities_std.csv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("universities_std.csv")
df

    Unnamed: 0       SAT     Top10    Accept   SFRatio  Expenses  GradRate
0            0  0.743902  0.847222  0.105263  0.368421  0.255144  0.900000
1            1  1.000000  1.000000  0.144737  0.000000  1.000000  0.466667
2            2  0.621951  0.472222  0.592105  0.157895  0.297461  0.166667
3            3  0.743902  0.666667  0.131579  0.315789  0.415629  0.700000
4            4  0.670732  0.763889  0.250000  0.368421  0.239835  0.766667
5            5  0.817073  0.847222  0.118421  0.210526  0.427512  0.933333
6            6  0.756098  0.861111  0.210526  0.315789  0.416996  0.933333
7            7  0.609756  0.638889  0.131579  0.315789  0.208161  0.833333
8            8  0.963415  0.875000  0.000000  0.263158  0.561699  1.000000
9            9  0.731707  0.652778  0.394737  0.052632  0.910991  0.666667
10          10  0.914634  0.916667  0.210526  0.210526  0.476864  0.800000
11          11  0.621951  0.791667  0.328947  0.263158  0.352609  0.733333
12          12  0.609756  0.736111  0.368421  0.368421  0.116965  0.900000
13          13  0.185366  0.138889  0.526316  0.631579  0.026991  0.433333
14          14  0.902439  0.875000  0.000000  0.105263  0.392120  0.933333
15          15  0.000000  0.000000  1.000000  0.684211  0.006597  0.066667
16          16  0.865854  0.861111  0.078947  0.315789  0.505659  0.866667
17          17  0.170732  0.291667  0.697368  1.000000  0.000000  0.000000
18          18  0.573171  0.930556  0.342105  0.578947  0.117293  0.366667
19          19  0.695122  0.652778  0.473684  0.368421  0.540832  0.666667
20          20  0.426829  0.513889  0.710526  0.526316  0.123307  0.600000
21          21  0.682927  0.722222  0.289474  0.263158  0.343515  0.766667
22          22  0.536585  0.680556  0.394737  0.421053  0.084653  0.833333
23          23  0.195122  0.166667  0.723684  0.473684  0.057462  0.133333
24          24  0.902439  0.930556  0.065789  0.263158  0.634397  0.966667

In [3]:
df.describe()

,Unnamed: 0,SAT,Top10,Accept,SFRatio,Expenses,GradRate
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,12.000000,0.637659,0.673333,0.331579,0.353684,0.340508,0.657333
std,7.359801,0.264292,0.269915,0.259570,0.214071,0.262887,0.301926
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,0.573171,0.638889,0.131579,0.263158,0.117293,0.466667
50%,12.000000,0.682927,0.736111,0.289474,0.315789,0.343515,0.766667
75%,18.000000,0.817073,0.861111,0.473684,0.421053,0.476864,0.900000
max,24.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25 non-null     int64
 1   SAT         25 non-null     float64
 2   Top10       25 non-null     float64
 3   Accept      25 non-null     float64
 4   SFRatio     25 non-null     float64
 5   Expenses    25 non-null     float64
 6   GradRate    25 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.5 KB

In [5]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.columns

Index(['SAT', 'Top10', 'Accept', 'SFRatio', 'Expenses', 'GradRate'], dtype='object')

In [6]:
from sklearn.decomposition import PCA

pca = PCA(n_components=1)

pca.fit(df)

new_component = pca.transform(df)

df['pc'] = new_component

df

         SAT     Top10    Accept   SFRatio  Expenses  GradRate        pc
0   0.743902  0.847222  0.105263  0.368421  0.255144  0.900000 -0.296167
1   1.000000  1.000000  0.144737  0.000000  1.000000  0.466667 -0.640645
2   0.621951  0.472222  0.592105  0.157895  0.297461  0.166667  0.382328
3   0.743902  0.666667  0.131579  0.315789  0.415629  0.700000 -0.187219
4   0.670732  0.763889  0.250000  0.368421  0.239835  0.766667 -0.099310
5   0.817073  0.847222  0.118421  0.210526  0.427512  0.933333 -0.447241
6   0.756098  0.861111  0.210526  0.315789  0.416996  0.933333 -0.350700
7   0.609756  0.638889  0.131579  0.315789  0.208161  0.833333 -0.101472
8   0.963415  0.875000  0.000000  0.263158  0.561699  1.000000 -0.637145
9   0.731707  0.652778  0.394737  0.052632  0.910991  0.666667 -0.301849
10  0.914634  0.916667  0.210526  0.210526  0.476864  0.800000 -0.440630
11  0.621951  0.791667  0.328947  0.263158  0.352609  0.733333 -0.112255
12  0.609756  0.736111  0.368421  0.368421  0.116965  0.900000 -0.026279
13  0.185366  0.138889  0.526316  0.631579  0.026991  0.433333  0.819882
14  0.902439  0.875000  0.000000  0.105263  0.392120  0.933333 -0.568489
15  0.000000  0.000000  1.000000  0.684211  0.006597  0.066667  1.354699
16  0.865854  0.861111  0.078947  0.315789  0.505659  0.866667 -0.457420
17  0.170732  0.291667  0.697368  1.000000  0.000000  0.000000  1.148504
18  0.573171  0.930556  0.342105  0.578947  0.117293  0.366667  0.197655
19  0.695122  0.652778  0.473684  0.368421  0.540832  0.666667 -0.026412
20  0.426829  0.513889  0.710526  0.526316  0.123307  0.600000  0.481333
21  0.682927  0.722222  0.289474  0.263158  0.343515  0.766667 -0.138002
22  0.536585  0.680556  0.394737  0.421053  0.084653  0.833333  0.100148
23  0.195122  0.166667  0.723684  0.473684  0.057462  0.133333  0.962939
24  0.902439  0.930556  0.065789  0.263158  0.634397  0.966667 -0.616258